// LAST SERMON SECTION (HOMEPAGE 3)
.home-3 .last-sermon {
  position: relative;
  @include respond(md) {
    height: 100%;
  }
  @include respond(lg) {
    height: $default-card-height;
  }

  &__content {
    margin: $gutter-margin-vertical 0 $section-default-spacing;
    @include respond(md) {
      margin: $section-default-spacing 0;
    }
  }

  &__card {
    clip-path: polygon(0% 0%, 100% 0%, 100% 90%, 50% 100%, 0% 90%);
    @include respond(md) {
      position: absolute;
      width: percentage(5 / 12);
      height: 100%;
      top: 0;
      left: 0;

      clip-path: polygon(0% 0%, 90% 0%, 100% 50%, 90% 100%, 0% 100%);
    }
  }

  .sermon__download {
    justify-content: flex-start;
  }
}
